*{
    padding: 0;
    margin: 0;
    border: 0;
    font-weight: 600;
    
}
body {
    margin: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    
    
}
.container {
    width: 360px;
    height: 400px;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    padding: 50px 50px;
    border-radius: 10px;
    
}

.google img {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px 10px;
}
.login {
    width: 100%;
    margin: auto;
    padding: 15px 2px;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 38, 255, 0.671);
    /* padding: 10px 10px 10px 10px; */
    border-radius: 5px;
    
}
.login span{
    color: #fff;
    font-size: 20px;
    font-weight: 500;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}